@page
@model ddaproj.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Manage Users";
}
<div class="row d-flex justify-content-center">
    <div class="col-lg-8">
        <h1>User Management</h1>
        <table class="table table-responsive-lg table-hover">
            <thead class="thead-dark text-light">
                <tr>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Roles</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in @Model.Users)
                {
                    <tr>
                        <td class="align-middle">@user.Email</td>
                        <td class="align-middle">@user.UserName</td>
                        <td class="align-middle">@Model.GetCustomClaimsAsStringAsync(user).Result</td>
                        <td class="align-middle">
                            <div class="d-flex">
                                <a class="btn btn-sm btn-primary" asp-page="Edit" asp-route-id="@user.Id">Edit</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
