@page
@model ddaproj.Pages.Admin.IndexModel

<h1>User Management</h1>

<table class="table table-responsive-lg table-hover">
    <thead class="thead-dark text-light">
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Claims</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in @Model.Users)
        {
            <tr>
                <td class="align-middle">@user.UserName</td>
                <td class="align-middle">@user.Email</td>
                <td class="align-middle">@user.FirstName</td>
                <td class="align-middle">@user.LastName</td>
                <td class="align-middle">
                    <div class="d-flex">
                        <form asp-page-handler="DeleteUser" asp-route-id="@user.Id">
                            <button class="btn btn-link" OnClick="return confirm(`Are you sure you want to delete that user?`)">Delete</button>
                        </form>
                        <a class="btn btn-link" asp-page="Edit" asp-route-id="@user.Id">Edit</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>